<%= simple_form_for [site, review] do |f| %>
  <div class="row">
    <div class="small-10 medium-11 columns">
      <div class="range-slider" data-slider data-options="display_selector: #review_rating; start: 1; end: 5;">
        <span class="range-slider-handle" role="slider" tabindex="0"></span>
        <span class="range-slider-active-segment"></span>
      </div>
    </div>
  </div>

  <%= f.input :rating, label: "Rating (1-5)" %>
  <%= f.input :body, label: "Description" %>
  <%= f.button :submit %>
<% end %>
