<h1>Review Sites</h1>
<% @sites.each do |site| %>
<div class="panel">
<h5><%= link_to site.title, site_path(site) %></h5>
</div>
<% end %>

<% unless params[:search] %>
  <%= paginate @sites %>
<% end %>

<% if current_user %>
  <%= link_to "Add a Site", new_site_path %>
<% end %>
