<h1>Review Sites</h1>

<% @sites.each do |site| %>
<div class="panel">
<h5><%= link_to site.title, site_path(site) %></h5>

</div>
<% end %>

<%= link_to "Home", root_path %> <br />
<%= link_to "Create a Site", new_site_path %>

<%= paginate @sites %>

